body{
  margin: 0px;
}
.container{
  height: 300px;
  width: 300px;
  background-color: grey;
  position: relative;
}
.red{
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;
  bottom: 200px;
  right: 0px;
}
.blue{
  height: 100px;
  width: 100px;
  background-color: blue;
  position: absolute;
  top: 0px;
  left: 100px;
 }
.yellow{
  height: 100px;
  width: 100px;
  background-color: yellow;
  position: fixed;
  top: 0px;
}
